.container{
    display: flex;
    align-items: center;
    justify-content: center
}
.text {
    font-size: 20px;
    padding-left:20px;
}
#pararight {
    text-align: right;
}
hr {
    height:1px;
    color:green;
}
body {
    border: 1px solid black;
}
#img1 {
    height: 200px;
    width: 200px;
}
#img2 {
    border-radius: 5px;
}
@media (min-width:420px) and (max-width:600px)
{
    #img1 {
        height:170px;
        width:170px;
    }
    .text {
        height: 80%;
        width: 80%;
        font-size: 80%;
    }
}
@media (min-width:300px) and (max-width:420px)
{
    #img1 {
        height:150px;
        width:150px;
    }
    .text {
        height: 50%;
        width: 50%;
        font-size: 50%;
    }
    #img2 {
        height:150px;
        width:150px;
    }
}